.btn{
    width: 100px;
    padding: 5px;
    font-size: 15px;
    background-color: cyan;
}
.btn:hover {
    background-color: blue;
}
.in-text{
    width: 20%;
    padding: 5px;
    margin-bottom: 20px;
}

.lab-text{
    color: black;
    padding: 9px;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}
.img_cursor{
    cursor: pointer;
}

/* .container-flex {
    display: inline-flex;
    flex-direction: column; /* Items go top to bottom in a column */
/* } */

/* .container {
    background-color:gray;
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    width: 900px;
    height:auto;
    margin: 15px 0px 25px 0px;
    text-align:center;
    border: solid 1px brown;
    padding:0 0;
} */

body {
    margin:10px;
    width:auto; 
    text-align:center; 
    font-weight:bold;
}